.aigis-sidemenu(id="aigis-drawer")
  h2.aigis-sidemenu__heading
    a(href=root + 'search/all/index.html') Search
  h2.aigis-sidemenu__heading Category
  nav.aigis-categoryList
    != helper.renderCollectionTree('category')
  h2.aigis-sidemenu__heading Tag
  nav.aigis-tags.aigis-tagList
    each tag in config.collection.tag
      a.aigis-tags__item(class="aigis-tags__item--" + tag, href=root + 'tag/' + tag + '/index.html') #{tag}
  h2.aigis-sidemenu__heading
    a(href=root + 'color.html') All Colors
